/* Affects the whole calendar */
.react-calendar {
  background: black;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.125em;
}

.light .react-calendar {
  background: var(--paperlike);
  border-top: 1px solid black;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
}

/* Arrows at the top */
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: var(--paperlike);
}

.light .react-calendar__navigation button{
  color: black;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

/* On Click or hover on nav buttons */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: none;
}

/* List of Days on the top */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.light .react-calendar__month-view__weekdays {
  color: black;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

/* Not in Use */
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

/* For all Weekend dates */
.react-calendar__month-view__days__day--weekend {
  color: #c60404 !important;
}

.light .react-calendar__month-view__days__day--weekend {
  color: #9c0202 !important;
}

/* For all dates from neighbouring month */
.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #ada9a9 !important;
}

.light .react-calendar__month-view__days__day--neighboringMonth,
.light .react-calendar__decade-view__years__year--neighboringDecade,
.light .react-calendar__century-view__decades__decade--neighboringCentury {
  color: #4c4a4a !important;
}


.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

/* All Weekday dates */
.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;

  text-align: center;
  font: inherit;
  font-size: 0.833em;
  color: var(--paperlike);
}

.light .react-calendar__tile {
  color: black;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: none;
}

.react-calendar__tile--now {
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.2); 
  box-shadow: 0 0 12px 6px rgba(220, 218, 218, 0.25);
}

.light .react-calendar__tile--now {
  border-radius: 30%;
  background: rgba(91, 90, 90, 0.4); 
  box-shadow: 0 0 12px 6px rgba(42, 29, 29, 0.25);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 12px 6px rgba(220, 218, 218, 0.35);
}

.light .react-calendar__tile--now:enabled:hover,
.light .react-calendar__tile--now:enabled:focus {
  background: rgba(56, 55, 55, 0.45);
  box-shadow: 0 0 12px 6px rgba(66, 65, 65, 0.35);
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

/* Clicked date */
/* .react-calendar__tile--active {
  background: none;
  color: white;
} */

/* Clicked date on hover or focus */
/* .react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: none;
} */

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: none;
}
