.tiptap {
    background-color: #a36060;
    text-decoration-color: whitesmoke;
    border-radius: 5px;
    padding: 1rem;
    max-height: 100;
    max-width: 100;

    flex: 1;
    overflow-y: scroll;
    overflow: auto;
    box-sizing: border-box;
}

.tiptap::-webkit-scrollbar {
    display:none;
}

.editor-container {
  width: 100%;
  height: 100%;
  background-color: rgb(80, 6, 6);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content-window {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tiptap-editor {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  min-height: 150px;
}

.tiptap h1.is-empty:first-child::before {
  content: attr(data-placeholder);
  color: #adb5bd;
  float: left;
  height: 0;
  pointer-events: none;
}