.file-system {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;

  overflow: auto;
  display: flex;
  min-width: 225px;
}

.light .file-system {
  background-color: var(--paperlike);
  border: 1px solid black;
}

.logo-div {
  height: 60px;
  width: 100%;
  padding: 5%;
  padding-right: 10%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inkflow-logo {
  background-color: transparent;
}

.toolbar-box {
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: whitesmoke;
}

.light .toolbar-box {
  background-color: var(--paperlike);
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}

.toolbar {
  background-color: black;
}

.light .toolbar {
  background-color: var(--paperlike);
}

.moon-logo {
  color: black;
}

.sun-logo {
  color: whitesmoke;
}

.timer-logo {
  color: whitesmoke;
}

.light .timer-logo {
  color: black;
}