.timer-container {
    background-color: grey;
    z-index: 5;
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;

    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.CircularProgressbar {
    width: 60%;
}

.play-button {
    background-color: transparent;
    color: whitesmoke;
    border: none;

    width: 20%;
}

.pause-button {
    background-color: transparent;
    color: whitesmoke;
    border: none;

    width: 20%;
}

.settings-button {
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;

    width: 20%;
}

.timer-sliders {
    text-align: left;
}

.play_pause {
    margin-top: 15px;
}

label {
    display: block;
}

.work-slider {
    height: 20px;
    border: 2px solid red;
    border-radius: 20px;
}

.break-slider {
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
}